*{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  color: #1d1a1a;
}

div.col{
  margin: 0 auto;
  padding: 1em;
}
 

header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header ul li {
  display:inline;
  margin: 2em 1em;
  list-style-type: none;
  font-size: 1em;
  color: #1d1a1a;
  padding: 1em;
  }

ul li a {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
  
  
.skills p{
  word-spacing:1em;
  font-size: 1em;
  
}

 p {
  font-size: 1.3em;
  line-height: 1.6;
  width: 70%;
  margin-bottom: 1em;
 }

h1 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em;
  margin: 0.5em;
  }

h2 {
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
}

h4{
  color: #ffffff;
  text-transform: uppercase;
}

.about-me{
  margin: 0 auto;
  padding: 4em;
  font-size: 1em;
  margin-top: 0px;
  }

.section-title {
  font-size: 3rem;
   }

.web-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.portfolio-item {
  margin: 0.1em;
  }

 .section-title {
  padding: 1em;
  letter-spacing: 0.5em;
  }

 .section-title-project{
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  }

/* footer */
.footer {
    text-align: center;
    font-size: 1.2em;
    background-color:#666; 
    
 }

.footer a {
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1em;
   padding-left: 0.5em;
   text-align: center;
}

.footer-link {
    font-weight: 400;
}

.footer-link:hover,
.social-list--link:hover {
    opacity: 0.25;
}

.footer-link, a:hover {
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}
.social-list-link {
    padding: 0.5em;
}
