*
{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'raleway', sans-serif;
}
body
{
  color: #2c2f33;
  background-color: #ffffff;
}

 a.social-list-link-white{
  color: #ffffff;
}
p.text 
{
  font-size: 2.5em;
}
.mytext
{
  margin-bottom: 1em;
}


 .about-me
{
  margin-bottom: 1em;
  font-size: 3em;
  font-weight: 700;
  
 }


.three-icons{
  
position: absolute;
width: 256px;
height: 96.96px;
left: 592px;
/* top: 836px; */
}
ul.social-list-icon{
  display: flex;
  
}
li.social-list-icon{
  margin-top: 0.2em;
  padding: 0.5em;
}
i.fa.fa-thumbs-o-up{
  color: #fc607c;
  font-size: 2em;
}
i.fa.fa-smile-o{
  color: #1d96b0;
  font-size: 2em;
}
i.fa.fa-heart{
  color:#b01d37;
  font-size: 2em;
}
.description{
  display: flex-end;
}
  
.description li{
  margin: 0.3em;
  justify-content: stretch;
  }
.content-brown{
  border: 2px solid #3c3636;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}


a 
{
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}
.col
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
a.btn
{
   text-decoration: none;
   text-transform: uppercase;
   text-align: center;
   color: #3c3636;
   cursor: pointer;
   font-weight: 700;
   }
.service.btn img
{
  cursor:pointer;
}
#home.intro
{
 text-align: center;
}

header {
  margin: auto;
  padding: 60px;
  background: #fc607c;
}

header ul {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #3c3636;
  font-weight: 600;
  font-size: 1em;
  padding: 1em;
  }
ul li 
{
  list-style-type: none;
  font-size: 1em;
  display: block;
  }
ul li a 
{
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color:#3c3636;
 }
p 
{
  line-height: 1.6;
  margin: auto;
  font-size: 1em;
  width: 70%;
  }

h1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.9em;
}

h2{
  letter-spacing: 0.1em;
  font-size: 4em;
}
h3.intro {
  margin-left: 150px;
  font-size: 3em;
  font-weight: 900;
  padding-top: 1em;
}
footer.skills ul {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 background-color: #3b3636;
}
.skills ul{
   display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.title{
  color: #ffffff;
  font-weight: 500;
  margin: 0.5em;
}
.hours{
  color: #fc607c;
  font-weight: 500;
  margin: 0.5em;
 }

.subtitle-text{
  text-transform: uppercase;
  }
@media only screen and (max-width: 600px) {
 .col {
    width: 90%;
  }
 }

p.section-title 
{
  font-size: 1.3em;
  text-transform: uppercase;
  padding: 1em;
  letter-spacing: 0.5em;
  text-align: center;
  }
p.subtitle-text
{
  font-size: 1em;
  margin-top: 1em;
 }
p.subtitle-text:hover
{
   text-decoration: none;
}

div#portfolio-work
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.portfolio-item 
{
  margin: 0.1em;
  width: 100px;
  }
.box1
{
  padding: 1em;
}
.section-title-project
{
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  margin-bottom: 1em;
  }

a.social-list--link{
  font-size: 1em;
  color: #3c3636;
  text-transform: uppercase;
  font-weight: 700;
}

.social-list
{
    list-style: none;
  }
ul.social-list{
display: flex;
cursor: pointer;
padding: 0.5em;
} 

 h1.case1{
  color: #f86c07;
  text-transform: capitalize;
  font-size: 3em;
  margin: 2em auto;
  
}

img.portfolio-img{
  margin-top: 2em;
}
footer.footer-btn{
  color: #fff;
  margin: 2em;
}
.container{
  display: flex;
}b
.sidenav{
  margin: 1em;
}
.sidenav ul li {
  text-transform: capitalize;
  font-weight: 300;
  margin: 1em;
}
.sidenav li a{
  color: #404040;
  
}

.text-container h1{
  text-transform: capitalize;
/*   letter-spacing: 5px; */
  color: #000;
  }
.headerone{
  margin: 0.5em;
  padding-left: 1.5em;
  font-weight: 400;
}
.text-container p{
  text-transform: capitalize;
  margin-bottom: 0.5em:
}
  #myrole{
   color: #e86b5c;
}
li.myrole a{
  color:#e86b5c;
}
h1#intro 
h1#myrole 
h1#problems 
h1#goals 
h1#impact 
h1#earlyideation 
h1#testing 
h1#finaldesign 
h1#development 
h1#futuresteps{
  margin: 1em;
  color: #666;
  font-weight: 400;
}
.aboutpage{
  display: flex;
  justify-content: flex-end;
  
}
.btnback{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
  p.solution{
    text-align: center;
    text-transform: capitalize;
    padding: 2em;
    font-size: 1.5em;
}
h1.title{
  color: #e86b5c;
  font-size:1em;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: uppercase;
  
}

p.timeline {
  color: #e86b5c;
  font-size:1em;
  font-weight: 400;
  text-transform: uppercase;
}

div h1.job {
  color: #404040;
  text-transform: uppercase;
 
 }

div p.job {
  color: #404040;
  text-transform: uppercase;
  
}
.container-time{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
p.title{
  width: auto;
}
a.container-time{
  color: #404040;
  font-weight: 400;
}
img{
  margin:auto;
}





  
  
 
  


