* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: roboto;
  }


body {
background-color: #666;
}

.nav {
  background-color: #444;
  
}

.nav-list {
  display: flex;
  justify-content: center;
 
}

.nav-items {
  margin: 1em;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #bcb251;
  font-family: 800;
  font-size: 1em;
}

a:hover {
   color: white;
  }


.portfolio {
  letter-spacing: 0.5em;
  padding: 0.5em;
  color: white;
}

  .portfolio::after {
   content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background:#bcb566;
    opacity: 0.25;
}
  
  

.aside {
  padding: 10px;
  margin-left: 30px;
}
.aside span{
  font-size: 1em;
  color: white;
  letter-spacing: 0.1em;
 }

p {
  font-size: 1em;
  color: white;
 }

p strong{
  color: #bcb251;
  font-size: 3em;
  padding: 1em;
  margin: 0 auto;
  }


h1 {
  width: 250px;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  
}

h2 {
  font-weight: normal;
  padding: 0.2em;
  width: 250px;
  background-color: #bcb566;
}

.about-me {
  color: white;
  margin: 0 auto;
  padding: 4em;
  font-size: 1em;
  display: flex;
  justify-content: center;
  }

.section-title {
  font-size: 3rem;
   background-color: #444;
  }

.portfolio-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

.portfolio-item {
  margin: 0.1em;
  }

h3 {
  padding: 1em;
  
}

h4{
 padding: 1em;
  letter-spacing: 0.5em;
   
}

.header {
  padding: 1em;
  
  
}

.header, .section-title {
  padding: 1em;
  letter-spacing: 0.5em;
   
}

.circle{
  width: 200px;
  height: 200px;
  background-color: #bcb566;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: 50px;
  z-index: -1;
}

.blur{
  border-radius: 5px;
  width: 200px;
  height: 300px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
  margin: 30px;
}

ul li{
  list-style-type: none;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: auto;
  
  }

.blur, .skill-list ul li{
  margin: 10px 0;
  padding: 10px;
  
}

  .section-title-project{
  text-align: center;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  }

/* footer */
.footer {
    text-align: center;
    padding: 2.5em 0;
    font-size: 1rem;
    background-color: #444;
 }
.footer a {
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1.5em;
}

.footer-link {
    font-weight: 400;
}

.footer-link:hover,
.social-list--link:hover {
    opacity: 0.7;
}

.footer-link, a:hover {
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}
.social-list-link {
    padding: 0.5em;
}

